.plan__content {
    position: relative;
    padding: 20px;
}

.plan__box {
    background-image: url('../Images/bgi-works.png');
    padding: 50px 0 50px 0;
}

.plan__box__title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    font-variant: small-caps;
    color: $main-color;
    margin: 0 0 80px 0;
}

.span {
    display: flex;
    justify-content: space-between;
    background-image: url("../Images/border.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc(10px) center;
    width: 966px;
    margin-bottom: 20px;
}

.span__box {
    width: 60px;
    height: 60px;
    background: $box-background-color;
    border: 4px solid #C99B67;
    cursor: pointer;
    
    &:hover {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../Images/check.png');
    }
}

.plan__content__list {
    display: flex;
    margin: 0 0 60px 0;
    padding: 0;
    list-style: none;
}

.plan__content__list__item {
    width: 433px;
    margin-right: 20px;
    padding: 20px 24px 40px 20px;
    background: $box-background-color;
    border-radius: 5px;
    transition: all 0.2s ease;
    
    &:hover {
        cursor: pointer;
        background-color: $main-links-color;
    }
    &:nth-child(3) {
        margin-right: 0;
    }
}

.plan__content__list__span {
    margin-left: 320px;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    font-variant: small-caps;
    color: $main-titles-color;
    opacity: 0.8;
    transition: 0.2s ease;
}

.plan__content__list__item:hover .plan__content__list__span {
    color: $main-color;
}

.plan__content__list__title {
    font-weight: 500;
    font-size: 40px;
    color: $main-titles-color;
    margin: 0 0 10px 0;
    transition: all 0.2s ease;
}

.plan__content__list__item:hover .plan__content__list__title {
    color: $main-color;
}

.plan__content__list__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $main-titles-color;
    margin: 0;
    transition: all 0.2s ease;
}

.plan__content__list__item:hover .plan__content__list__text {
    color: $main-color;
}

.plan__content__link__box {
    text-align: center;
}

.plan__content__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 16px 24px;
    background: $main-links-color;
    border-radius: 100px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: $main-color;
    mix-blend-mode: normal;
    transition: 0.2s ease;
    
    &:hover {
        color: $main-links-color;
        background: $main-color;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    .plan__box::before {
        background-image: url("../Images/coffe@2x.svg");
    }
}